/app/target/*
/app/.settings/*
/app/.classpath
/app/.project
/app/.idea
/app/*.iml
/app//target
/app/.sts4-cache/
/app/.vscode/*
!/app/.vscode/settings.json
!/app/.vscode/tasks.json
!/app/.vscode/launch.json
!/app/.vscode/extensions.json
/app/_site/
/app/gradle/
/app/.gradle/
/app/.gradle-caches/
/app/bin/
/app/build/
/app/.mvn/
/app/.vscode/